*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
@keyframes circle{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.page{
  display: flex;
  flex-direction:column;
  height: 100vh; 
  background: transparent url(http://p4.music.126.net/KLiW3-5jPDfhPtm7DfyxEg==/109951163111161587.jpg) no-repeat center;
  background-size: cover; 
}
.disc-container{
  position: relative;

}
.disc-container .pointer img{
  width: 20vw;
  position: absolute;
  left: 45vw;
}
.disc-container .disc{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17vw;
}
.disc-container .ring{
  width: 73vw;
}
.disc-container .light{
  width: 73vw;
  position: absolute;
  animation: circle 20s infinite linear;
}
.disc-container .cover{
  width: 46vw;
  position: absolute;
  border-radius: 50%;
  animation: circle 20s infinite linear;
}
.song-description{

}
.page > .link{

}