*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
@keyframes circle{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.page{
  display: flex;
  flex-direction:column;
  height: 100vh; 
  background: transparent url(http://p4.music.126.net/KLiW3-5jPDfhPtm7DfyxEg==/109951163111161587.jpg) no-repeat center;
  background-size: cover; 
}
.disc-container{
  position: relative;

}
.disc-container .icon{
  position:absolute;
  z-index: 1;
  fill: #AEABAC;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;


}
.disc-container .pointer img{
  width: 20vw;
  position: absolute;
  left: 45vw;
}
.disc-container .disc{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17vw;
}
.disc-container .ring{
  width: 73vw;
}
.disc-container .light{
  width: 73vw;
  position: absolute;
  
}
.disc-container.playing .light,
.disc-container.playing .cover{

animation: circle 20s infinite linear;

}
.disc-container .icon-pause{
  display: none;

}
.disc-container.playing .icon-pause{
  display: block;

}
.disc-container.playing .icon-play{
  display: none;

}
.disc-container .cover{
  width: 46vw;
  position: absolute;
  border-radius: 50%;
  
}

.song-description{
  flex-grow:1;
  color: #AEABAC;
  text-align: center;
  font-size: 14px;
  line-height: 2;
  margin-top: 20px;

}
.song-description h1{
  font-size: 20px;
  color: white;
}
.song-description p{
  font-size: 14px;
  line-height: 24px;
}
.song-description .lyric{
  height: 72px;
  /* border: solid 1px red; */
  overflow: hidden;
}
.song-description p.active{

}

.page > .links{
  display:flex;
  justify-content:center;
  align-items:center;

}
.page > .links > a{
  width: 38.5vw;
  margin:1em;
  text-align:center;
  border:1px solid #D43B32;
  padding:1.5vw;
  color:#D43B32;
  border-radius:6px;
  
  text-decoration:none;
  letter-spacing:1vw;

}
.page > .links > a.main{
  background:#D43B32;
  color:white;

}